version: 0.0.1.{build}
configuration: Release
platform: All
image: Visual Studio 2017
branches:
  only:
  - master
environment:
  VISUAL_CONFIGURE_SCRIPT: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build\\vcvarsall.bat"
  matrix:
    - VISUALCONFIG: "x86"
      PYTHON_DIR: "C:\\Python36"
    - VISUALCONFIG: "amd64"
      PYTHON_DIR: "C:\\Python36-x64"
skip_tags: true
init:
 - ps: if($env:DEBUG -eq "true") { iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1')) }
build_script:
  - set /p release_version=<version
  - set PATH=%PYTHON_DIR%;%PATH%
  - call "%VISUAL_CONFIGURE_SCRIPT%" %VISUALCONFIG%
  - python --version
  - cl.exe
  - cd win32
  - python freeze_parsec.py %release_version%
  - C:\PROGRA~2\NSIS\makensis.exe installer.nsi
  # - powershell -Command "(gc choco\parsec.nuspec) -creplace 'VERSION', '%release_version:~1%' | Out-File choco\parsec.nuspec"
  # - powershell -Command "(gc choco\tools\chocolateyinstall.ps1) -creplace 'VERSION', '%release_version%' | Out-File choco\tools\chocolateyinstall.ps1"
  # - powershell -Command "(gc choco\tools\chocolateyinstall.ps1) -creplace 'CHECKSUM', (get-filehash Parsec_setup.exe).hash | Out-File choco\tools\chocolateyinstall.ps1"
  # - cd choco
  # - choco pack || exit 0
test: off
artifacts:
  - path: 'win32/build/parsec-*-setup.exe'
    name: installer
  # - path: "choco/parsec-cloud.%release_version%.nupkg"
  #   name: choco_package
deploy:
  - provider: GitHub
    release: "%release_version%"
    auth_token:
      secure: lyNNIFX5PY8L2IxvWOp+dbc+oCXJ0dkc7jgqgc4BVfAT5RyeP6kalg/08dbKzOuU
    artifact: installer
    draft: false
  # - provider: NuGet
  #   server: https://push.chocolatey.org/
  #   api_key:
  #     secure: OSr40DIKsX+IDfOyP6H7pAk8tXVVrfUSNzKRL1tXhOa/vZvG+a5tsbgPJyLYE6Ot
  #   skip_symbols: true
  #   artifact: choco_package
on_finish:
 - ps: if($env:DEBUG -eq "true") { $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1')) }
