version: 0.0.1.{build}
configuration: Release
platform: All
image: Visual Studio 2017
environment:
  python: C:\Python36-x64\python.exe
  pip: C:\Python36-x64\Scripts\pip
  nsis: C:\PROGRA~2\NSIS
  TCL_LIBRARY: C:\Python36-x64\tcl\tcl8.6
  TK_LIBRARY: C:\Python36-x64\tcl\tk8.6
branches:
  only:
  - master
skip_tags: true
init:
 - ps: if($env:DEBUG -eq "true") { iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1')) }
install:
  - "%python% --version"
build_script:
  - set /p release_version=<version
  - cd win32
  - python freeze_parsec.py %release_version%
  - "%nsis%\\makensis.exe installer.nsi"
  # - powershell -Command "(gc choco\parsec.nuspec) -creplace 'VERSION', '%release_version:~1%' | Out-File choco\parsec.nuspec"
  # - powershell -Command "(gc choco\tools\chocolateyinstall.ps1) -creplace 'VERSION', '%release_version%' | Out-File choco\tools\chocolateyinstall.ps1"
  # - powershell -Command "(gc choco\tools\chocolateyinstall.ps1) -creplace 'CHECKSUM', (get-filehash Parsec_setup.exe).hash | Out-File choco\tools\chocolateyinstall.ps1"
  # - cd choco
  # - choco pack || exit 0
test: off
artifacts:
  - path: 'parsec-*-setup.exe'
    name: installer
  # - path: "choco/parsec-cloud.%release_version%.nupkg"
  #   name: choco_package
deploy:
  - provider: GitHub
    release: "%release_version%"
    auth_token:
      secure: lyNNIFX5PY8L2IxvWOp+dbc+oCXJ0dkc7jgqgc4BVfAT5RyeP6kalg/08dbKzOuU
    artifact: installer
    draft: false
  # - provider: NuGet
  #   server: https://push.chocolatey.org/
  #   api_key:
  #     secure: OSr40DIKsX+IDfOyP6H7pAk8tXVVrfUSNzKRL1tXhOa/vZvG+a5tsbgPJyLYE6Ot
  #   skip_symbols: true
  #   artifact: choco_package
on_finish:
 - ps: if($env:DEBUG -eq "true") { $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1')) }
