version: 0.0.1.{build}
configuration: Release
platform: All
image: Visual Studio 2017
environment:
  python: C:\Python36-x64\python.exe
  pip: C:\Python36-x64\Scripts\pip
  makensis: C:\PROGRA~2\NSIS\makensis.exe
branches:
  only:
  - master
skip_tags: true
# init:
 # - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
install:
  - "%python% --version"
build_script:
  - set /p release_version=<version
  - set release_version=%release_version:~0,32%
  - git clone https://github.com/Scille/parsec-cloud.git
  - cd parsec-cloud
  - git fetch
  - git checkout %release_version%
  - echo __version__ = "%release_version%" > parsec/_version.py
  - "%pip% install .[core,backend] --process-dependency-links"
  - "%pip% install cx_freeze idna"
  - "%python% setup.py build"
  - cd ..
  - mkdir build
  - move parsec-cloud\build\exe.win-amd64-3.6 build\core
  - move build\core\parsec build\core\parsec.exe
  - cp parsec.bat build
  - Bat_To_Exe_Converter.exe /bat build/parsec.bat /exe build/parsec.exe /invisible /icon favicon.ico /x64
  - del build\parsec.bat
  - "%makensis% parsec.nsi"
  - powershell -Command "(gc choco\parsec.nuspec) -creplace 'VERSION', '%release_version:~1%' | Out-File choco\parsec.nuspec"
  - powershell -Command "(gc choco\tools\chocolateyinstall.ps1) -creplace 'VERSION', '%release_version%' | Out-File choco\tools\chocolateyinstall.ps1"
  - powershell -Command "(gc choco\tools\chocolateyinstall.ps1) -creplace 'CHECKSUM', (get-filehash Parsec_setup.exe).hash | Out-File choco\tools\chocolateyinstall.ps1"
  - "rename Parsec_setup.exe parsec_%release_version%_amd64.exe"
  - cd choco
  - choco pack || exit 0
  - set original_release_version=%release_version%
  - set release_version=%release_version:~1%
test: off
artifacts:
  - path: "parsec_%original_release_version%_amd64.exe"
    name: installer
  - path: "choco/parsec-cloud.%release_version%.nupkg"
    name: choco_package
deploy:
  - provider: GitHub
    release: "%original_release_version%"
    auth_token:
      secure: qUh7EKphTKAccFvKdSQudizsOnj6GSvI3QdZVGKTEgOmDADKQjBvYQ4WiOK8ur72
    artifact: installer
    draft: false
  - provider: NuGet
    server: https://push.chocolatey.org/
    api_key:
      secure: OSr40DIKsX+IDfOyP6H7pAk8tXVVrfUSNzKRL1tXhOa/vZvG+a5tsbgPJyLYE6Ot
    skip_symbols: true
    artifact: choco_package
# on_finish:
 # - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
