version: 0.0.1.{build}
configuration: Release
platform: All
image: Visual Studio 2017
environment:
  nodejs_version: 9
  python: C:\Python36-x64\python.exe
  pip: C:\Python36-x64\Scripts\pip
  makensis: C:\PROGRA~2\NSIS\makensis.exe
  backend_url: tcp://ec2-54-229-174-79.eu-west-1.compute.amazonaws.com:6777
cache:
  - node_modules
  - "%APPDATA%\npm-cache"
# init:
#   - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
install:
  - ps: Install-Product node $env:nodejs_version
  - "%python% --version"
  - node --version
  - npm --version
build_script:
  - git submodule update --init --recursive
  - cd parsec-cloud
  - "%pip% install .[all] --process-dependency-links"
  - "%pip% install cx_freeze idna"
  - "%python% setup.py build"
  - cd ../parsec-gui
  - npm install
  - npm run electron:win
  - cd ..
  - mkdir build
  - move parsec-cloud\build\exe.win-amd64-3.6 build\core
  - move build\core\sqlite3.dll build\core\lib\sqlite3.dll
  - move build\core\parsec build\core\parsec.exe
  - move parsec-gui\platforms\win\parsec-gui-win32-x64 build\gui
  - cd build
  - echo set FUSE_LIBRARY_PATH=C:\Progra~2\WinFsp\bin\winfsp-x64.dll >> parsec.bat
  # TODO log file
  - echo start /b core\parsec.exe core --debug --log-level=DEBUG --I-am-John -A %backend_url% >> parsec.bat
  - echo timeout 1 >> parsec.bat
  - echo gui\parsec-gui.exe >> parsec.bat
  - echo taskkill /im parsec.exe /f >> parsec.bat
  - cd ..
  - Bat_To_Exe_Converter.exe /bat build/parsec.bat /exe build/parsec.exe /invisible /icon parsec-gui/public/favicon.ico /x64
  - del build\parsec.bat
  - "%makensis% parsec.nsi"
  - "rename Parsec_setup.exe %APPVEYOR_REPO_TAG_NAME%-amd64.exe"
test: off
artifacts:
  - path: "%APPVEYOR_REPO_TAG_NAME%-amd64.exe"
    name: installer
deploy:
  release: "%APPVEYOR_REPO_TAG_NAME%"
  provider: GitHub
  auth_token:
    secure: y5xGHULS9oFoq68eKGzYdHF+tM4N0pCatrjXRey7tMki2rTEFNF2tFZmGt58ZI3T
  artifact: installer
  draft: false
  on:
    appveyor_repo_tag: true
# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
