version: 0.0.1.{build}
configuration: Release
platform: All
image: Visual Studio 2017
environment:
  nodejs_version: 9
  python: C:\Python36-x64\python.exe
  pip: C:\Python36-x64\Scripts\pip
  pyinstaller: C:\Python36-x64\Scripts\pyinstaller
  pyupdater: C:\Python36-x64\Scripts\pyupdater
  makensis: C:\PROGRA~2\NSIS\makensis.exe
  secret:
    secure: M+ZwM7w9vnWX1w+99zUffw==
cache:
  - node_modules
  - "%APPDATA%\npm-cache"
init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
install:
  - ps: Install-Product node $env:nodejs_version
  - "%python% --version"
  - node --version
  - npm --version
  - ps: iex ((New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/appveyor/secure-file/master/install.ps1'))
  - cmd: appveyor-tools\secure-file -decrypt keypack_appveyor.pyu.enc -out keypack.pyu -secret "%secret%"
  - cmd: appveyor-tools\secure-file -decrypt pyupdater_config_appveyor.pyu.enc -secret "%secret%"
build_script:
  - "%pip% install -e ."
  - git submodule update --init --recursive
  - cd parsec-cloud
  - "%pip% install .[all] --process-dependency-links"
  - "%pip% install pyupdater"
  - "%pyinstaller% -n parsec parsec/cli.py"
  - cd ../parsec-gui
  - npm install
  - npm run electron:win
  - cd ..
  - mkdir build
  - move parsec-cloud/dist/parsec build/parsec-cloud
  - move parsec-gui/platforms/win/parsec-gui-win32-x64 build/parsec-gui
  - mkdir .pyupdater
  - move client_config_appveyor.py client_config.py
  - move pyupdater_config_appveyor.pyu .pyupdater/config.pyu
  - "%pyupdater% keys -i"
  - "%pyupdater% build --app-version=0.0.2 parsec.py --windowed --icon parsec-gui/public/favicon.ico --add-data \"../../winfsp-1.3.18160.msi;.\" --add-data \"../../build/parsec-cloud;parsec-cloud\" --add-data \"../../build/parsec-gui;parsec-gui\" --add-data \"../../parsec.cfg;.\""
  - "%pyupdater% pkg --process --sign"
  - "%pyupdater% upload --service s3"
test: off
artifacts:
  - path: pyu-data/files/parsec-win-0.0.2.zip
    name: installer 
deploy:
  release: "%APPVEYOR_REPO_TAG_NAME%"
  provider: GitHub
  auth_token:
    secure: y5xGHULS9oFoq68eKGzYdHF+tM4N0pCatrjXRey7tMki2rTEFNF2tFZmGt58ZI3T
  artifact: installer
  draft: false
  on:
    appveyor_repo_tag: true
on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
